.classpath
.gradle/
.project
.settings/
.sts4-cache/
.cache/
.vscode/
bin/
dist/
target
build.log
dependencies
build
.idea
com.ubiqube.etsi.mano.dao.mano*/
*.csar
*.dot
.groovy/
.factorypath
src/test/java/com/ubiqube/ejb/
log
*.img
hs_err_pid*.log
