#
# Used when NFVO or VNFM mode.
#
nfvo.url=http://nfvo:8666/ubi-etsi-mano-api/sol005
vnfm.url=http://vnfm:8080/sol003
#
# Physical driver root path.
#
repository.phys.root=/opt/etsi/package/
# Jdbc
#jdbc.url=jdbc:h2:file:~/testdb
jdbc.url=jdbc:postgresql://mano-db/mano
jdbc.username=mano
jdbc.password=mano

jms.artemis.url=tcp://mano-artemis:61616
jms.artemis.user=artemis
jms.artemis.password=simetraehcapa


