#
# Used when NFVO or VNFM mode.
#
mano.msa.nfvo-url=http://nfvo:8666/ubi-etsi-mano-api/sol005
mano.msa.vnfm.url=http://vnfm:8080/ubi-etsi-mano-api/sol003
#
# Physical driver root path.
#
repository.phys.root=/opt/etsi-mano-data/

# Apache Artemis
spring.artemis.mode=native
spring.artemis.host=mano-artemis
spring.artemis.port=61616
spring.artemis.user=artemis
spring.artemis.password=simetraehcapa
jms.queue.destination=demoQueue
# Database
spring.liquibase.enabled=false
spring.jpa.hibernate.ddl-auto=update
# Postgreql
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL93Dialect
spring.datasource.url=jdbc:postgresql://mano-db/mano
spring.datasource.username=mano
spring.datasource.password=mano
# MySql / MariaDB
#spring.datasource.url=jdbc:mysql://localhost/mano
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MariaDB103Dialect
