#debug: true
logging:
  level:
    "[com.ubiqube.etsi.mano.service.rest.ManoLoggingHandler]": WARN
    com:
      ubiqube:
        etsi: DEBUG
    ma:
      glasnost:
        orika: INFO
    org:
      apache:
        http:
          wire: INFO
        activemq:
          audit: WARN
      elasticsearch:
        client:
          sniff:
            Sniffer: OFF
      hibernate:
        SQL: INFO
      keycloak: INFO
      openstack4j: INFO
      springframework:
        boot:
          autoconfigure:
            logging:
              ConditionEvaluationReportLogger: INFO
        context: INFO
        http: INFO
        jms: INFO
        security: INFO
        web:
          filter: INFO
          servlet: INFO
          reactive: INFO
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

management:
  elastic:
    metrics:
      export:
        host: http://mano-es:9200
        index: mano-metrics-vnfm
  endpoint:
    health:
      show-details: ALWAYS
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    git:
      mode: full
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  tracing:
    sampling:
      probability: 1.0

mano:
  config:
    type: vnfm
  election:
    script-path: /tmp/etsi-mano/election/groovy
  em:
    url: http://mano-mon:8082/
    oauth2:
      client-id: mano-em
      client-secret: T8V5XytLDPgCmCLy42tmAxyYLsluChmU
      #grant-type: client_credentials
      scope:
        - openid
      token-endpoint: http://mano-auth:8080/auth/realms/mano-realm/protocol/openid-connect/token
  frontend-url: http://mano-vnfm:8090/ubi-etsi-mano/sol003
  helmv3:
    oauth2:
      client-id: mano-helm
      client-secret: RJuAdY7c7iRgoVoqM7nVQtWSqKOGq4oJ
      #grant-type: client_credentials
      scope:
        - openid
        - helm
      token-endpoint: http://mano-auth:8080/auth/realms/mano-realm/protocol/openid-connect/token
    url: http://mano-helm:8080/
  juju:
#    oauth2:
#      client-id: mano-juju
#      client-secret: jO4quayDc77rgOViOQM7NVqTwSqkOgJR
#      #grant-type: client_credentials
#      scope:
#        - openid
#        - juju
#      token-endpoint: http://mano-auth:8080/auth/realms/mano-realm/protocol/openid-connect/token
#    url: http://10.31.1.242:8200/
    url: http://localhost:8200/
  repository:
    phys-root: /tmp/etsi-mano/repository
  swagger-o-auth2: http://mano-auth:8080/auth/realms/mano-realm/protocol/openid-connect/token

server:
  error:
    include-binding-errors: always
    whitelabel:
      enabled: false
  port: 8090
  servlet:
    contextPath: /ubi-etsi-mano

spring:
  application:
    name: mano-vnfm
  artemis:
    mode: embedded
  data:
    rest:
      base-path: /api
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:file:~/etsi-mano-vnfm.h2;AUTO_SERVER=TRUE;INIT=CREATE SCHEMA IF NOT EXISTS mec_meo
    username: sa
    hikari:
      connection-test-query: SELECT 1
      max-lifetime: 600000
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
    default-property-inclusion: NON_NULL
    generator:
      ignore-unknown: false
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      indent-output: true
      write-empty-json-arrays: false
  jmx:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        enable_lazy_load_no_trans: true
        search:
          backend:
            directory:
              root: /tmp/etsi-mano-vnfm/indexes
            type: lucene
          enabled: false
  liquibase:
    enabled: false
  mvc:
    log-request-details: true
  output:
    ansi:
      enabled: always
  quartz:
    jdbc:
      commentPrefix: '" - "'
      initialize-schema: always
    job-store-type: jdbc
    properties:
      org:
        quartz:
          jobStore:
            clusterCheckinInterval: 5000
            driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
            isClustered: true
          scheduler:
            instanceId: AUTO
          threadPool:
            threadCount: 10
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://mano-auth:8080/auth/realms/mano-realm
          jwk-set-uri: http://mano-auth:8080/auth/realms/mano-realm/protocol/openid-connect/certs
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB

springdoc:
  enable-data-rest: false
